


.light {
 background-color: gray;
 height: 5rem;
 width: 5rem;
 border-radius: 50%;
}

.red { background-color: red; }

.yellow { background-color: yellow; }

.green { background-color: green; }

.purple { background-color: purple;}

.shine {
    box-shadow: 0 0 10px rgb(226, 255, 179), 0 0 30px rgb(241, 255, 160), 0 0 60px rgb(247, 255, 219);
}